<h1>Nowy człowiek pokoju</h1>

<% if @person.name %>
    <p>
      <strong>Kto:</strong>
      <%= link_to(@person.name, @person, target: '_blank') %>
    </p>
<% end %>
<% if @person.age %>
    <p>
      <strong>Wiek:</strong>
      <%= @person.age %>
    </p>
<% end %>

<% if @person.email %>
    <p>
      <strong>E-mail:</strong>
      <%= @person.email %>
    </p>
<% end %>
<% if @person.phone %>
    <p>
      <strong>Telefon:</strong>
      <%= @person.phone %>
    </p>
<% end %>
<% if @person.skype %>
    <p>
      <strong>Skype:</strong>
      <%= @person.skype %>
    </p>
<% end %>
<% if @person.fb %>
    <p>
      <strong>Facebook:</strong>
      <%= @person.fb %>
    </p>
<% end %>
<% if @person.city %>
    <p>
      <strong>Miasto:</strong>
      <%= @person.city %>
    </p>
<% end %>
<% if @person.note.present? %>
    <p>
      <strong>Notka:</strong>
      <%= @person.note %>
    </p>
<% end %>
<% if @person.fellowship %>
    <p>
      <strong>Wspólnota:</strong>
      <%= @person.fellowship %>
    </p>
<% end %>

<%= render partial: 'needs', locals: { person: @person } %>

<% if @person.background %>
    <p>
      <strong>Background:</strong>
      <%= @person.background %>
    </p>
<% end %>
<% if @person.status %>
    <p>
      <strong>Status:</strong>
      <%= @person.status %>
    </p>
<% end %>

<% if @person.user %>
    <p>
      <strong>Dodany przez:</strong>

      <%= link_to(@person.user.name, @person, target: '_blank') %>
    </p>
<% end %>

<h2>
  <%= link_to('Pomogę!', help_person_url(@person), target: '_blank') %>
</h2>
