<div class="person-form">

<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <p class="alert alert-danger">Uzupełnij brakujące informacje</p>
      <ul>
      <% person.errors.messages.values.each do |message| %>
            <% message.each do  |m| %>
                <li><%= m %></li>
            <%end %>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('name') %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city, t('city') %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :age, t('age') %>
    <%= f.select :age, Person.age_options, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :source, t('source') %>
    <%= f.select :source, Person.source_options %>
  </div>

  <div class="field">
    <%= f.label :fellowship, t('fellowship') %>
    <%= f.select :fellowship, Person.fellowship_options %>
  </div>

  <div class="field">
    <%= f.label :background, t('background') %>
    <%= f.select :background, Person.background_options %>
  </div>

  <div class="field">
    <%= f.label :need_gospel, t('need_gospel') %>
    <%= f.check_box :need_gospel %>
  </div>

  <div class="field">
    <%= f.label :need_baptism, t('need_baptism') %>
    <%= f.check_box :need_baptism %>
  </div>

  <div class="field">
    <%= f.label :need_healing, t('need_healing') %>
    <%= f.check_box :need_healing %>
  </div>

  <div class="field">
    <%= f.label :need_deliverance, t('need_deliverance') %>
    <%= f.check_box :need_deliverance %>
  </div>

  <div class="field">
    <%= f.label :need_holy_spirit, t('need_holy_spirit') %>
    <%= f.check_box :need_holy_spirit %>
  </div>

  <div class="field">
    <%= f.label :need_bible_study, t('need_bible_study') %>
    <%= f.check_box :need_bible_study %>
  </div>

  <div class="field">
    <%= f.label :remote_possible, t('remote_possible') %>
    <%= f.check_box :remote_possible %>
  </div>

  <div class="field">
    <%= f.label :contact, t('contact') %>
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label :priority, t('priority') %>
    <%= f.select :priority, Person.priority_options %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <hr />
  <h3>Dodatkowe uwagi</h3>
  <div class="note-area">
    <%= f.text_area :note %>
  </div>
      <hr />
  <div class="actions">
    <%= f.submit t('send') %>
  </div>
<% end %>
</div>