<div id="map"></div>
<div id="legend"><h3>Legenda</h3></div>
<script>
    function initMap() {
        var startingLocation = {lat: <%= Person.last.try!(:latitude) %>, lng: <%= Person.last.try!(:longitude) %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            <%= Person.last ? 'center: startingLocation' : '' %>
        });
        <% Person.where(display: true).each_with_index do |person, i| %>
        var personOfPeace<%= i %> = {lat: <%= person.latitude %>, lng: <%= person.longitude %>};
        var marker<%= i %> = new google.maps.Marker({
            position: personOfPeace<%= i %>,
            icon: "<%= asset_path(person.marker_icon) %>",
            map: map
        });
        var contentString<%= i %> = '<div id="content">'+
                '<div id="siteNotice">'+
                'Od <%= person.user.try(:name) %> <%= time_ago_in_words(person.created_at) %> | '+
                'Opieka: <%= person.coordinator.try(:name)%>'+
                '<%= link_to(' pomogę', help_person_path(person)) if !person.coordinator %>'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading"><%= link_to person.name, person %></h1>'+
                '<div id="bodyContent">'+
                '<%= t(person.fellowship) %>'+
                '<ul>'+
                <% person.needs.each do |need| %>
                '<li><%= need %></li>'+
                <% end %>
                '</ul>'+
                '<span><%= person.note.split[0..10].join(' ') %>...<%= link_to '[więcej]', person %></span>' +
                '</div>'+
                '</div>';
        var infowindow<%= i %> = new google.maps.InfoWindow({
            content: contentString<%= i %>
        });
        marker<%= i %>.addListener('click', function() {
            infowindow<%= i %>.open(map, marker<%= i %>);
        });
        <% end %>
        <% User.where(display: true).each_with_index do |coordinator, i| %>
        var supervisor<%= i %> = {lat: <%= coordinator.latitude %>, lng: <%= coordinator.longitude %>};
        var markerCoo<%= i %> = new google.maps.Marker({
            position: supervisor<%= i %>,
            icon: "<%= asset_path('koordynator.png') %>",
            map: map
        });
        var contentString2<%= i %> = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading"><%= coordinator.name%></h1>'+
                '<div id="bodyContent">'+
                '<p>Email: <%= coordinator.email %></p>' +
                '<p>Tel. <%= coordinator.phone %></p>' +
                '<p>FB: <%= coordinator.fb %></p>' +
                '<p>Skype: <%= coordinator.skype %></p>' +
                '<p>Adres: <%= coordinator.city %></p>' +
                '</div>'+
                '</div>';
        var infowindow2<%= i %> = new google.maps.InfoWindow({
            content: contentString2<%= i %>
        });
        markerCoo<%= i %>.addListener('click', function() {
            infowindow2<%= i %>.open(map, markerCoo<%= i %>);
        });
        <% end %>
        var icons = {
            coordinator: {
                name: 'Opiekun',
                icon: "<%= asset_path('koordynator.png') %>"
            },
            person_green: {
                name: 'Świeżo dodany',
                icon: "<%= asset_path('green_MarkerC.png') %>"
            },
            person_red: {
                name: 'Nie ma opiekuna dłużej niż 10 dni',
                icon: "<%= asset_path('red_MarkerC.png') %>"
            },
            person_blue: {
                name: 'Znalazł opiekuna',
                icon: "<%= asset_path('blue_MarkerC.png') %>"
            }
        };
        var legend = document.getElementById('legend');
        for (var key in icons) {
            var type = icons[key];
            var name = type.name;
            var icon = type.icon;
            var div = document.createElement('div');
            div.innerHTML = '<img src="' + icon + '"> ' + name;
            legend.appendChild(div);
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
    }
</script>
<hr />
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="booyah-box">
        <h3>Zgłosiłeś <i class='fa fa-drivers-license-o' ></i></h3>
        <table class="table table-hover">
          <tbody>
          <% @added_by_you.each do |person| %>
            <tr>
              <td><%= link_to "#{person.name} (#{person.city})", person %></td>
              <% if current_user.admin || current_user.owner?(person) %>
                <td><%= link_to t('edit'), edit_person_path(person) %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm">
      <div class="booyah-box">
        <h3>Bez opiekunów <i class='fa fa-child' ></i></h3>
        <table class="table table-hover">
          <thead>
            <th><%= t('who') %></th>
            <th><%= t('added_by') %></th>
            <th><%= t('waiting_time') %></th>
          </thead>
          <tbody>
          <% @people_free.each do |person| %>
            <tr>
              <td><%= link_to "#{person.name} (#{person.city})", person %></td>
              <td><%= link_to person.user.try!(:name), person.user %></td>
              <td><%= time_ago_in_words(person.created_at) %> <%= t('ago')%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm">
      <div class="booyah-box">
        <h3>Opiekujesz się <i class='fa fa-handshake-o' ></i></h3>
      <table class="table table-hover">
        <tbody>
        <% @disciples.each do |person| %>
          <tr>
            <td><%= link_to "#{person.name} (#{person.city})", person %></td>
            <% if current_user.admin || current_user.owner?(person) %>
              <td><%= link_to t('edit'), edit_person_path(person) %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
