<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @person.skype %>
</p>

<p>
  <strong>Fb:</strong>
  <%= @person.fb %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Note:</strong>
  <%= @person.note %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @person.added_by %>
</p>

<p>
  <strong>Fellowship:</strong>
  <%= @person.fellowship %>
</p>

<p>
  <strong>Need gospel:</strong>
  <%= @person.need_gospel %>
</p>

<p>
  <strong>Need baptism:</strong>
  <%= @person.need_baptism %>
</p>

<p>
  <strong>Need healing:</strong>
  <%= @person.need_healing %>
</p>

<p>
  <strong>Need deliverance:</strong>
  <%= @person.need_deliverance %>
</p>

<p>
  <strong>Need holy spirit:</strong>
  <%= @person.need_holy_spirit %>
</p>

<p>
  <strong>Need bible study:</strong>
  <%= @person.need_bible_study %>
</p>

<p>
  <strong>Remote possible:</strong>
  <%= @person.remote_possible %>
</p>

<p>
  <strong>Background:</strong>
  <%= @person.background %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @person.coordinator %>
</p>

<%= link_to t('edit'), edit_person_path(@person) %> |
<%= link_to t('back'), people_path %>
