<p id="notice"><%= notice %></p>

<h1><%= t('coordinators') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('email') %></th>
      <th><%= t('phone') %></th>
      <th><%= t('skype') %></th>
      <th><%= t('fb') %></th>
      <th><%= t('city') %></th>
      <th><%= t('note') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinators.each do |coordinator| %>
      <tr>
        <td><%= coordinator.name %></td>
        <td><%= coordinator.email %></td>
        <td><%= coordinator.phone %></td>
        <td><%= coordinator.skype %></td>
        <td><%= coordinator.fb %></td>
        <td><%= coordinator.address %></td>
        <td><%= coordinator.note %></td>
        <td><%= link_to t('edit'), edit_coordinator_path(coordinator) %></td>
        <td><%= link_to t('destroy'), coordinator, method: :delete, data: { confirm: t('sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_coordinator'), new_coordinator_path %>
