<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <p class="alert alert-danger">Uzupełnij brakujące informacje</p>
      <ul>
        <% user.errors.messages.values.each do |message| %>
            <% message.each do  |m| %>
                <li><%= m %></li>
            <%end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: t('name') %>
  </div>

  <div class="field">
    <%= f.text_field :email, placeholder: t('email') %>
  </div>

  <div class="field">
    <%= f.text_field :phone, placeholder: t('phone') %>
  </div>

    <div class="field">
      <%= f.text_field :city, placeholder: t('city') %>
    </div>

    <div class="field">
    <%= f.text_field :skype, placeholder: t('skype_optional') %>
    </div>

  <div class="field">
    <%= f.text_field :fb, placeholder: t('facebook_optional') %>
  </div>

  <div class="field">
    <%= f.select :device, User.device_options %>
  </div>

  <div class="field">
    <%= f.text_area :note, placeholder: t('note_optional') %>
  </div>

  <div class="field">
    <%= f.label :notify, t('notify') %>
    <%= f.check_box :notify %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
