<div class='booyah-box'>
  <p>
    <strong><%= t('name') %>:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong><%= t('email') %>:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong><%= t('phone') %>:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong><%= t('skype') %>:</strong>
    <%= @user.skype %>
  </p>

  <p>
    <strong><%= t('facebook') %>:</strong>
    <%= @user.fb %>
  </p>

  <p>
    <strong><%= t('city_or_address') %>:</strong>
    <%= @user.city %>
  </p>

  <p>
    <strong><%= t('note') %>:</strong>
    <%= @user.note %>
  </p>

  <p>
    <strong>
      <%= t('notify') %>
    </strong>
    <%= bell(user.notify) %>
  </p>
</div>

<% if current_user.admin || current_user == @user %>
  <%= link_to t('edit'), edit_user_path(@user) %>
|<% end %>
<%= link_to t('back'), users_path %>
